fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
python-multipart
httpx
sqlalchemy
pymysql
cryptography
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
gtts
email-validator
sib-api-v3-sdk
